      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Laboratories</strong> - TC2005B</p>
      </div>
    </footer>
  </body>
</html>
