<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TC2005B - Laboratorios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="icon" href="../../public/favicon.ico" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <% if (typeof username !== 'undefined' && username) { %>
        <p><em>Welcome, <%= username %></em></p>
      <% } %>
      <nav>
        <a href="/tasks">All Tasks</a> |
        <a href="/tasks/new">New Task</a>
      </nav>
      <hr />
    </header>
    <main>
