/node_modules
.pnpm-store/
.npm
.eslintcache
lib-cov
*.seed
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.tap/
.nyc_output/
.istanbul.yml
coverage
/build
.grunt

.env
.env.*.local
.venv

.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.npm