<%- include('./includes/header') %>

<div class="columns is-centered">
  <div class="column is-4">
    <h2 class="title is-4 has-text-centered">Login</h2>

    <% if (error) { %>
      <div class="notification is-danger is-light">
        <%= error %>
      </div>
    <% } %>

    <div class="box">
      <form action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="field">
          <label class="label" for="username">Username</label>
          <div class="control">
            <input class="input" type="text" id="username" name="username" required />
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" required />
          </div>
        </div>

        <div class="field">
          <button class="button is-link is-fullwidth" type="submit">Login</button>
        </div>
      </form>

      <p class="has-text-centered mt-4">
        Don't have an account? <a href="/users/signup">Sign up</a>
      </p>
    </div>
  </div>
</div>

<%- include('./includes/footer') %>