<%- include('./includes/header') %>

<div class="columns is-centered">
  <div class="column is-4">
    <h2 class="title is-4 has-text-centered">Sign Up</h2>
    <div class="box">
      <form action="/users/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="field">
          <label class="label" for="username">Username</label>
          <div class="control">
            <input class="input" type="text" id="username" name="username" required />
          </div>
        </div>

        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input class="input" type="text" id="name" name="name" required />
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" required />
          </div>
        </div>

        <div class="field">
          <button class="button is-success is-fullwidth" type="submit">Sign Up</button>
        </div>
      </form>

      <p class="has-text-centered mt-4">
        Already have an account? <a href="/users/login">Log in</a>
      </p>
    </div>
  </div>
</div>

<%- include('./includes/footer') %>
